body {
    font-family: 'Arial', sans-serif;
}

.hero {
    background-image: url(./heroImage.jpeg); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.5rem;
}

.hero .btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
}

.about img {
    max-width: 100%;
    height: auto;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}
